.card-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

    .card-id{
        border: solid;
        border-radius: 15px 0 15px 0;
        margin: 30px;
    }

    .card-wrap img{
        width: 50%;
        display: grid;
        place-items: center;
    }